.app-container {
  background-color: #f8fafc;
  min-height: 100vh;
  padding-bottom: 40px;
  font-family: sans-serif;
  margin-top: 70px;
}

.app-navbar {
  height: 70px;
  background: #6b0000;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1000;
}
.edutrack-icon img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.app-title {
  font-weight: bold;
  font-size: 16px;
}
.edutrack-head{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.app-user-info {
  margin-left: 10px;
  color: #94a3b8;
}

.app-nav-buttons {
  display: flex;
  gap: 10px;
}

.btn-nav {
  padding: 6px 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #b42e2e;
  color: #fff;
  font-weight: 400;
  transition: background-color 0.2s ease;
}

.btn-nav:hover {
  opacity: 0.9;
}



.btn-admin-active {
  background-color: #6366f1;
}

.btn-logout {
  background-color: #ef4444;
}

.btn-logout:hover {
  background-color: #dc2626;
}
.edutrack-head ion-icon{
  font-size: 30px;
  display: none;
  font-weight: 800;
}
@media screen and (max-width : 679px) {
  
  .edutrack-head ion-icon{
    display: block;
    font-size: 40px;
  }
  
  .app-nav-buttons ion-icon{
    font-size: 25px;
    padding: 5px;

  }
  .app-nav-buttons ion-icon:hover{
    background-color: #ce6e6e;
    border-radius: 50%;
  }
}